<carousel [interval]="myInterval" [noWrap]="noWrapSlides" [noPause]="noPauseSlides" [(activeSlide)]="activeSlideIndex">
  <slide *ngFor="let slide of slides; let index=index">
    <img [src]="slide" style="width: 100%;max-height:400px;min-height:400px;margin-top:10px;">

    <div class="carousel-caption text-left">
        <h1>Example headline.</h1>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
    </div>
  </slide>
</carousel>
<div class="row">
  <div class="col-sm-4 col-md-4">
    <figure>
      <img src="assets/images/mens_casual.jpg" alt="Thumb" height="300" width="100%" />
      <!-- <figcaption>Thumbnail Caption</figcation> -->
        <figcaption><div>MEN's CASUAL</div></figcaption>
    </figure>
  </div>
  <div class="col-sm-4 col-md-4">
    <figure>
      <img src="assets/images/mens_jeans.jpg" alt="Thumb" height="300" width="100%"/>
      <!-- <figcaption>Thumbnail Caption</figcation> -->
        <figcaption><div>MEN's JEAN</div></figcaption>
    </figure>  </div>
  <div class="col-sm-4 col-md-4">
    <figure>
      <img src="assets/images/mens_formal.jpg" alt="Thumb"  height="300" width="100%"/>
      <!-- <figcaption>Thumbnail Caption</figcation> -->
        <figcaption><div>MEN's FORMAL</div></figcaption>
    </figure>  </div>
</div>

